html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#content {
	max-width: 980px;
	display: flex;
	min-height: 100%;
	flex-direction: column;
	margin: auto auto;
	padding: 0 2em;
}

.full {
	width: 100%;
}

.drawer-wrapper {
	height: 30px;
}

.navbar {
	position: fixed;
	left: 0;
	top: 0;
	background: var(--pico-form-element-background-color);
	padding: 16px;
	z-index: 999;
}

.burger-btn {
	display: none;
}

.burger-icon {
	position: absolute;
	height: 30px;
	left: 1em;
	z-index: 2;
	display: flex !important;
}

.burger-icon span {
	display: block;
	width: 100%;
	height: 4px;
	background-color: var(--pico-form-element-color);
	margin: 6px 0;
	transition: 0.3s;
}

.burger-icon span:nth-child(1),
.burger-icon span:nth-child(3) {
	margin: 3px 0;
}

.burger-btn:checked~.burger-icon span:nth-child(1) {
	background-color: wheat;
	transform: rotate(45deg);
	position: relative;
	top: 10px;
}

.burger-btn:checked~.burger-icon span:nth-child(2) {
	background-color: wheat;
	opacity: 0;
}

.burger-btn:checked~.burger-icon span:nth-child(3) {
	background-color: wheat;
	transform: rotate(-45deg);
	position: relative;
	top: -10px;
}

.nav-drawer {
	position: fixed;
	top: 0;
	left: -300px;
	width: 300px;
	height: 100%;
	background-color: var(--pico-primary-background);
	color: white;
	transition: 0.3s;
	z-index: 1;
	padding: 1em;
	padding-top: 5em;
}

.nav-drawer i {
	margin-right: 10px;
}

.burger-btn:checked~.nav-drawer {
	left: 0;
}

.burger-btn:checked~.burger-icon h1 {
	color: wheat !important;
}

.nav-drawer a, .nav-drawer summary {
	display: block;
	padding-left: 2em;
	color: wheat !important;
}


.nav-drawer details {
	margin: 0;
}

.nav-drawer hr {
	border-color: var(--pico-primary-focus);
}

.nav-drawer details[open] ul {
	padding-left: 2em;
}

.nav-drawer details[open] summary {
	margin-bottom: 0;
}
.nav-drawer summary {
	line-height: 1.5em;	
}

.nav-drawer a:hover, 
.nav-drawer summary:hover,
.nav-drawer details[open] summary,
.nav-drawer details[open] ul {
	background-color: var(--pico-primary-focus);
	text-decoration: none;
}

#logout_button {
	top: 16px;
	padding: 0 1em;
	font-size: 14px;
	border-radius: var(--pico-border-radius);
	text-decoration: none;
	line-height: 28px;
	background: var(--pico-background-color);
	color: var(--pico-color);
	position: absolute;
	right: 16px;
	border: 1px solid var(--pico-color);
}

#table {
	min-width: 600px;
}

.datatable-top {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
}

.datatable-top::after { display: none !important; }

.datatable-container {
	overflow-x: scroll;
	width: 100%;
}

.datatable-sorter {
	padding: 0;
}

.datatable-selector { width: 6em; }


.table-actions { margin-bottom: 0; }

.table-actions a {
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}

.table-actions [role="button"] {
	flex: 0 1 auto !important;
	padding: 0.5em 1em !important;
	font-size: .7em !important;
}

td {
	vertical-align: middle !important;
}

.warning {
	border-color: #ff4b4b;
	color: #ff4b4b;
}

@media only screen and (max-width: 600px) {
	.datatable-top {
		flex-direction: column;
	}
}

.my-indicator{
	display:none;
}
.htmx-request .my-indicator{
	display:inline;
}
.htmx-request.my-indicator{
	display:inline;
}

.plus { width: 15px; height: 15px; }

#tambah-button {
	border-radius: 500px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.spoiler { display: none; }
.show { display: block; }
a[disabled] { 
	background-color: grey;
	pointer-events: none;
}
